.input-address {
	@extends %overflow;
	input {
		margin-bottom: 0;
	}
}

.input-gender {
	overflow: hidden;
	min-height: $line-height-computed;
}

// Input Name
// --------------------------------
$input-name-width: 				100px;
$input-name-width-small: 		40px;
$ns: 							"input-name";	//Namespace
@mixin set-input-name-input-width($width) {
	width: $width !important;
	input, label {
		padding: $input-padding-top $input-padding-left;
		// width: $width - 2 * $input-padding-left;
	}
}
.#{$ns}, .#{$ns}-options {
	@extend %overflow;
}
.#{$ns} {
	.#{$ns}-inner {
		@extend %overflow;
		div.form-group {
			margin: 0 !important;
		}
		> div {
			float: left;
			@include set-input-name-input-width($input-name-width);
			clear: none !important;
			margin-right: .25em;
			&.#{$ns}-small {
				@include set-input-name-input-width($input-name-width-small);
			}
			&.required {
				&:after {
					content: '' !important;
					margin: 0 !important;
				}
				label {
					color: #660000;
				}
				input, select, textarea {
					//border-color: $color1 !important;
				}
			}
		}
		label, input {
			float: none;
			display: block;
		}
		label {
			text-align: left;
			font-size: 10px;
			font-weight: normal;
		}
		input {
			margin-right: .5em;
			//@include input-font-size($font-size-large);
		}
	}
}

/*
.form-horizontal {
	.#{$ns}-inner, .#{$ns}-options {
		margin-left: $component-offset-horizontal;
	}
}
*/

.#{$ns}-options {
	em {
		float: left;
		margin-right: .25em;
	}
}

.input-multi-row {
	@extend %overflow;
	input, label {
		width: auto !important;
	}
	label {
		clear: none;
		float: left;
		text-align: left;
		padding: $padding-small-vertical $padding-small-horizontal;
		line-height: $line-height-base;
		input {
			margin: 4px !important;
		}
	}
}

// Address Input
// --------------------------------------
.form-horizontal {
	.addressbookform-state,
	.addressbookform-country {
		label {
			display: none;
		}
		> div {
			margin-left: 0;
			width: 100%;
		}
	}
}