/*Layout Colors*/
$blue:				#00b6de !default;
$light-blue:		#60cae4 !default;
$yellow:			#ffd204 !default;
$orange:			#f26532 !default;

$green:				#C1D72D !default;//b2bb1c !default;
$light-green:		#c1d72e !default;

$brown:				#e0c298 !default;
$light-brown:		#e0c298 !default;


$color1:			$orange !default;
$color2:			$blue !default;
$color3:			$green !default;
$color4:			$yellow !default;

$color1-light:		#f7ded5 !default; //lighten($color1, 40%) !default;
$color2-light:		#F1FBFF !default; //#cbecf3 !default; 
$color3-light:		#eef2d4 !default; //lighten($color3, 40%) !default;
$color4-light:		#f7efcc !default; //lighten($color4, 40%) !default;
//desaturate(lighten($color2, 50%),80%) !default;

$title-color1:		$orange !default;
$title-color2:		$blue !default;
$title-color3:		#666 !default;
$title-color4:		#AAA !default;

$link-color1:		darken($blue, 20%) !default;
$link-color2:		$orange !default;
$link-color3:		$yellow !default;

$text-color:		#444 !default;

$bg-color1:			lighten($color1, 40%) !default;
$bg-color2:			lighten($color2, 50%) !default;
$bg-color3:			lighten($color3, 40%) !default;
$bg-color4:			lighten($color4, 40%) !default;

$highlight-color1:	$blue !default;

$positive-bg: 		green !default;
$positive-border: 	green !default;
$warning-bg: 		yellow !default;
$warning-border: 	yellow !default;
$error-bg: 			red !default;
$error-border: 		red !default;


@mixin link-color($color) {
	color:$color;
	&:hover {
		color:darken($color, 10%);
	}
}