.content-page {
	background-color: white;
	border: 1px solid #CCC;
	@include box-shadow(5px 5px 5px #CCC);
	padding: 20px;
	margin: 20px;
}
.content-highlight {
	padding: 19px;
	border: 1px solid $contentBoxBorderColor;
	margin: 20px;
}