.hover-layout {
	position: relative;
	&.hovering {
		z-index: $hover-z-index;
	}
	.hover-over {
		padding: 0 !important;
		height: auto !important;
	}
}
.media-wrap {
	.hover-layout {
		display: block;
	}
}

.hover-window {
	position: absolute;
	padding: $hover-window-padding;
	border: $hover-window-border solid $hover-window-border-color;
	@include gradient-vertical(#fff,#eee);
	@include box-shadow($shadow-padding, $shadow-padding, $shadow-radius, $shadow-color);
	border-radius: $border-radius-small;
	color: $hover-window-border-color;
	> .media-list > .media-wrap > .media {
		margin-left: 0;
		margin-right: 0;
	}
}
.hover-window-title,.hover-window-title-control {
	font-size: $font-size-base;
	line-height: $line-height-base;
	padding: 4px $hover-window-padding;
	margin: -#{$hover-window-padding};
	margin-bottom: 4px;
}
.hover-window-title {
	border-bottom: 1px solid lighten($hover-window-border-color, 10%);
}
.hover-window-title-control {
	display: block;
	float: right;
	a {
		margin-left: 4px;
	}
}

@mixin arrow-border($side) {
	$adjust: top;
	$vertical-adjust: false;
	@if ($side == top or $side == bottom) {
		$adjust: left;
		@if ($side == top) {
			$vertical-adjust: top;
		} @else {
			$vertical-adjust: bottom;
		}
	}
	.hover-arrow, .hover-arrow-border {
		@include arrow($side, $hover-arrow-height, $hover-arrow-color);
		//height: $hover-arrow-height;
		z-index: 50;
		#{$adjust}: $line-height-computed;
		@if ($vertical-adjust != false) {
			#{$vertical-adjust}: $hover-arrow-border;
		}
	}
	.hover-arrow-border {
		@include arrow($side, $hover-arrow-height + $hover-arrow-border, $hover-window-border-color);
		//height: $hover-arrow-height;
		#{$adjust}: $line-height-computed - $hover-arrow-border;
		z-index: 49;
		@if ($vertical-adjust != false) {
			#{$vertical-adjust}: -#{$hover-arrow-border};
		}
	}
}

.hover-content {
	display: block;
	position: absolute;
	width: 320px;
	top: 20px;
	left: 0;
	
	z-index: 5000;
	
	h1, h2, h3, h4 {
		padding: 0;
		margin: 0;
	}

	@include arrow-border("top");
		
	.hover-window {
		margin: 0;
		margin-top: $hover-arrow-height;
		position: relative;
		z-index: 2;
	}
	&.width-auto {
		width: auto;
	}
	&.width-wider {
		width: $hover-window-width-wider;
	}
	&.width-wide {
		width: $hover-window-width-wide;
	}
	&.width-slim {
		width: $hover-window-width-slim;
	}

	&.position-down {
		top: auto;
		bottom: 20px;
		@include arrow-border(bottom);
		.hover-window {
			margin-top: 0;
			margin-bottom: $hover-arrow-height;
		}
	}
	&.position-right {
		left: auto;
		right: 0;
		@include arrow-border(left);
	}
	
	&.hover-left {
		top: auto;
		bottom: auto;
		@include arrow-border(right);
		.hover-window {
			margin-top: 0;
		}
	}
}
