.hover-layout {
	position: relative;
	&.hovering {
		z-index: 1000;
	}
	.hover-over {
		padding: 0 !important;
		height: auto !important;
	}
}

$hoverWindowPadding: 10px;
$hoverWindowBorder: #CCC;
.hover-window {
	position: absolute;
	padding: $hoverWindowPadding;
	border: 1px solid $hoverWindowBorder;
	@include gradient-vertical(#FFF,#EEE);
	@include box-shadow($shadowPadding, $shadowPadding, $shadowRadius, $shadowColor);
	border-radius: $borderRadiusSmall;
	color: $hoverWindowBorderColor;
}
.hover-window-title,.hover-window-title-control {
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	padding: 4px $hoverWindowPadding;
	margin: -#{$hoverWindowPadding};
	margin-bottom: 4px;
}
.hover-window-title {
	border-bottom: 1px solid lighten($hoverWindowBorder, 10%);
}
.hover-window-title-control {
	display: block;
	float: right;
	a {
		margin-left: 4px;
	}
}

@mixin arrowBorder($side) {
	$adjust: top;
	@if ($side == top or $side == bottom) {
		$adjust: 'left';
	}
	.hover-arrow, .hover-arrow-border {
		@include arrow($side, $hoverArrowHeight, $hoverArrowColor);
		//height: $hoverArrowHeight;
		z-index: 50;
		#{$adjust}: $baseLineHeight;
	}
	.hover-arrow-border {
		@include arrow($side, $hoverArrowHeight + $hoverArrowBorder, $hoverWindowBorderColor);
		//height: $hoverArrowHeight;
		#{$adjust}: $baseLineHeight - $hoverArrowBorder;
		z-index: 49;
	}
}

.hover-content {
	display: block;
	position: absolute;
	width: 320px;
	top: 20px;
	left: 0;
	
	z-index: 5000;
	
	h1, h2, h3, h4 {
		padding: 0;
		margin: 0;
	}

	@include arrowBorder(top);
		
	.hover-window {
		margin: 0;
		margin-top: $hoverArrowHeight;
		position: reltiave;
		z-index: 2;
	}
	&.width-auto {
		width: auto;
	}
	&.width-wider {
		width: $hoverWindowWidthWider;
	}
	&.width-wide {
		width: $hoverWindowWidthWide;
	}
	&.width-slim {
		width: $hoverWindowWidthSlim;
	}

	&.position-down {
		top: auto;
		bottom: 20px;
		@include arrowBorder(bottom);
		.hover-window {
			margin-top: 0;
			margin-bottom: $hoverArrowHeight;
		}
	}
	&.position-right {
		left: auto;
		right: 0;
		@include arrowBorder(left);
	}
	
	&.hover-left {
		top: auto;
		bottom: auto;
		@include arrowBorder(right);
		.hover-window {
			margin-top: 0;
		}
	}
}
