
$liquidLeftColumn: 			200px;
$liquidRightColumn: 		300px;
$liquidOuterPadding: 		0;
$liquidFullScreen: 			960px;
$liquidBorderColor: 		#F8F8F8;

$liquidSidePadding:			10px;
$liquidSideMargin:			5px;

$ns: 						"liquid-layout";	//namespace
.#{$ns} {
	position: relative;
	width: 100%;
	min-width: 984px;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0;
	&, .#{$ns}-content {
		display: block;
		float: none;
	}
	.#{$ns}-content, .#{$ns}-left, .#{$ns}-right{
		padding: 0;
		margin: 0;
	}
	.#{$ns}-inner {
		padding: .25em;
	}
	.#{$ns}-left, .#{$ns}-right {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
	}
	.#{$ns}-left {
		width: $liquidLeftColumn;
		padding-left: $liquidOuterPadding;
	}
	.#{$ns}-right {
		width: $liquidRightColumn;
		padding-left: $liquidOuterPadding;
		left: auto;
		right: 0;
	}
	.#{$ns}-content {
		width: auto;
		min-width: $liquidFullScreen;
	}
	&.has-left {
		.#{$ns}-content {
			margin-left: $liquidLeftColumn + $liquidOuterPadding + $liquidSideMargin;
			min-width: $liquidFullScreen - $liquidLeftColumn - $liquidOuterPadding;
			padding-left: $liquidSidePadding;
			border-left: 1px solid $liquidBorderColor;
		}
	}
	&.has-right {
		.#{$ns}-content {
			margin-right: $liquidRightColumn + $liquidOuterPadding + $liquidSideMargin;
			min-width: $liquidFullScreen - $liquidRightColumn - $liquidOuterPadding;
			padding-right: $liquidSidePadding;
			border-right: 1px solid $liquidBorderColor;
		}
	}
	&.has-left.has-right {
		.#{$ns}-content {
			min-width: $liquidFullScreen - $liquidRightColumn - $liquidRightColumn - 2 * $liquidOuterPadding;
		}
	}
}	