
$liquid-left-column: 		200px;
$liquid-right-column: 		300px;
$liquid-outer-padding: 		0;
$liquid-full-screen: 		960px;
$liquid-border-color: 		#f8f8f8;

$liquid-side-padding:		10px;
$liquid-side-margin:		5px;

$ns: 						"liquid-layout";	//namespace

.#{$ns} {
	position: relative;
	width: 100%;
	min-width: 984px;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0;

	&, .#{$ns}-content {
		display: block;
		float: none;
	}
	.#{$ns}-content, .#{$ns}-left, .#{$ns}-right{
		padding: 0;
		margin: 0;
	}
	.#{$ns}-inner {
		padding: .25em;
	}
	.#{$ns}-left, .#{$ns}-right {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
	}
	.#{$ns}-left {
		width: $liquid-left-column;
		padding-left: $liquid-outer-padding;
	}
	.#{$ns}-right {
		width: $liquid-right-column;
		padding-left: $liquid-outer-padding;
		left: auto;
		right: 0;
	}
	.#{$ns}-content {
		width: auto;
		min-width: $liquid-full-screen;
	}
	&.has-left {
		.#{$ns}-content {
			margin-left: $liquid-left-column + $liquid-outer-padding + $liquid-side-margin;
			min-width: $liquid-full-screen - $liquid-left-column - $liquid-outer-padding;
			padding-left: $liquid-side-padding;
			border-left: 1px solid $liquid-border-color;
		}
	}
	&.has-right {
		.#{$ns}-content {
			margin-right: $liquid-right-column + $liquid-outer-padding + $liquid-side-margin;
			min-width: $liquid-full-screen - $liquid-right-column - $liquid-outer-padding;
			padding-right: $liquid-side-padding;
			border-right: 1px solid $liquid-border-color;
		}
	}
	&.has-left.has-right {
		.#{$ns}-content {
			min-width: $liquid-full-screen - $liquid-right-column - $liquid-right-column - 2 * $liquid-outer-padding;
		}
	}
}


@mixin liquid-layout-sizing($full-screen, $left-width, $right-width, $padding: 5px, $margin: 10px) {
	.#{$ns} {
		min-width: $full-screen;
		.#{$ns}-left {
			width: $left-width;
			padding-left: $liquid-outer-padding;
		}
		.#{$ns}-right {
			width: $liquid-right-column;
			padding-left: $liquid-outer-padding;
			left: auto;
			right: 0;
		}
		.#{$ns}-content {
			width: auto;
			min-width: $full-screen;
		}
		&.has-left {
			.#{$ns}-content {
				margin-left: $left-width + $margin + $liquid-outer-padding;
				min-width: $full-screen - $left-width - $liquid-outer-padding - $liquid-side-padding;
				padding-left: $padding;
				border-left: 1px solid $liquid-border-color;
			}
		}
		&.has-right {
			.#{$ns}-content {
				margin-right: $right-width + $margin + $liquid-outer-padding;
				min-width: $full-screen - $right-width - $liquid-outer-padding - $liquid-side-padding;
				padding-right: $padding;
				border-right: 1px solid $liquid-border-color;
			}
		}
		&.has-left.has-right {
			.#{$ns}-content {
				min-width: $full-screen - $right-width - $left-width - 2 * $liquid-outer-padding;
			}
		}
	}
}


@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	@include liquid-layout-sizing($container-sm, 160px, 200px);
}
@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	@include liquid-layout-sizing($container-md, 160px, 200px);
}
@media screen and (min-width: $screen-lg-min) {
	@include liquid-layout-sizing($container-lg, 200px, 300px);
}

@media (max-width: $screen-xs-max) {
	.#{$ns} {
		min-width: 0;
		min-height: 0;
		&.has-left, &.has-right {
			.#{$ns}-content {
				min-width: 0;
				margin-left: 0;
				margin-right: 0;
			}
		}
		.#{$ns}-left, .#{$ns}-right {
			position: static;
			padding: 0;
			width: auto;
			min-height: 0 !important;
			max-width: 600px;
		}
	}
}