// Media Box
// ---------------------
.media {
	margin: $media-margin-vertical $media-margin-horizontal;
	border-radius: $media-border-radius;

	.media-body {
		display: block;
		text-align: left;
		padding-bottom: $line-height-computed / 2;
	}
	&, .bd {
		@extends %overflow;
		display: block;
	}
	.img {
		float:left; 
		margin-right: 10px;
		img {
			display: block;
		}
		&.small {
			img {
				width: 40px;
			}
		}
	}
	.img-ext, .rght {
		float:right; 
		margin-left: 10px;
	}
	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 0 0;
		padding: 0;
		line-height: normal;
	}
	p {
		margin-bottom: $line-height-computed / 4;
	}
	&.border, .border .media {
		border: 1px solid #eee;
		border-radius: $border-radius-base;
		padding: 10px;
	}
	> .pull-right {
		text-align: right;
		max-width: 50%;
	}
	&.inactive {
		background-color: $gray-lighter;
	}
}

.panel {
	> .media {
		margin: 0;
		border-radius: 0;
	}
	> .media-list {
		margin-top: 0;
		margin-bottom: 0;
		> .media-wrap > .media {
			border-radius: 0;
			border-left: 0;
			border-right: 0;
			margin-left: 0;
			margin-right: 0;
		}
	}
}
a.media {
	color: $media-link-color;
	padding: $media-link-padding-vertical $media-link-padding-horizontal;
	border: 1px solid $media-link-border;
	max-width: $media-link-width;
	
	&:hover {
		color: $media-link-color-hover;
		border-color: $media-link-border-hover;
		text-decoration: none;
	}
	h2, h3, h4 {
		margin: 0;
		padding: 0;
	}
	h2 {
		font-size: 1.25em;
		line-height: 1.25;
	}
	h3 {
		font-size: 1em;
	}
	p {
		font-weight: normal;
	}
}
li.media {
	border-bottom: 1px solid $gray-lightest;
	padding-bottom: 10px;
}
.media-wrap, .media {
	display: block;
	position: relative;
	max-width: $media-link-width + 2 * $media-link-padding-horizontal;
	.media-actionmenu {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		z-index: $hover-z-index + 1;
	}
}
.media-object {
	border: 1px solid $gray-lightest;
}
.media-description {
	font-size: $font-size-small;
	line-height: $line-height-base * .75;
	color: $gray-light;
	padding: 10px;
}
.media {
	.nav {
		margin: 0;
	}
}
ul.media-list {
	margin-top: $media-margin-vertical;
	margin-bottom: $media-margin-vertical;
	li > a.media {
		margin-bottom: 0;
		border-radius: 0;
		margin-top: -1px;
		position: relative;
		z-index: 1;
		&.active {
			z-index: 2;
		}
		&:hover {
			z-index: 3;
		}
	}
	li:first-child > a.media {
		@include border-top-radius($media-border-radius);
	}
	li:last-child > a.media {
		@include border-bottom-radius($media-border-radius);
	}
}

