@import "variables";
/*
.nav-overflow {
	min-height: $line-height-computed;
	clear: both;
}
.nav-overflow > ul {
	width: 100%;
}
.nav-overflow > ul, .nav-overflow > ul > li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.nav-overflow > ul > li {
	float: left;
	position: relative;
	display: block;
}
.nav-overflow > ul > li > a {
	display: block;
	//padding: $padding-base-vertical $padding-base-horizontal;
}

.nav-overflow-dropdown {
	
}
*/