@import "shadow";

$rowInactiveColor: 		$gray;
$rowActiveColor:		$infoBackground;
$rowHoverColor:			#F8F8F8;

$tableSortBgColor: 		$grayLighter;
$tableSortBorderColor: 	$gray;
$tableSortRounded: 		$baseBorderRadius;

tr {
	&.row-hover {
		&, td {
			background-color: $rowHoverColor;
		}
	}
	&.inactive {
		&, td {
			background-color: $rowInactiveColor;
		}
	}
	&.active {
		&, td {
			background-color: $rowActiveColor;
		}
	}
}


.table-with-checked {
	padding: $paddingSmall;
	&.fixed {
		position: fixed;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: $grayLighter;
		border-top: 1px solid $tableBorder;
		z-index: 5000;
	}
}
.table-with-checked-info {
	float: right;
}

.table-sort-links {
	position: relative;
	z-index: 500;
	float: left;
	margin-top: 1px;
	
	.sort-select {
		padding: 5px;
		padding-bottom: 4px;
		border: 1px solid white;
		position: relative;
		z-index: 1000;
		&.hover {
			border-radius: $tableSortRounded;
			background-color: $tableSortBgColor;
			border-color: $tableSortBorderColor;
		}
		&.selected {
			color: orange;
			text-decoration: underline;
		}
	}
	
	.table-sort {
		padding: 5px 2px;
		border: 1px solid $tableSortBorderColor;
		border-radius: $tableSortRounded;
		background-color: $tableSortBgColor;
		
		width: 120px;

		position: absolute;
		@include box-shadow();
		z-index: 1001;
		
		a {
			padding: 0 5px;
			display: block;
			font-weight: normal;
			font-size: 10px;
			text-align: left;
			
			border-radius: $tableSortRounded;
			
			&:hover {
				background-color: white;
				i {
					text-decoration: none;
				}
			}
			&.selected {
				background-color: white;
				font-weight: bold;
			}
			i {
				margin-right: 6px;
			}
		}
	}
}
