$gallery-view-control-size:	 		140px !default;
$gallery-info-control-size: 		40px !default;
$gallery-view-border-radius:		4px !default;
$gallery-view-body-height:			500px !default;

$gallery-modal-info-width:			33%;

@import "bootstrap_import";

@import "variables";
@import "mixins";

//@import "ajax-loading";

#galleryviewlayout {
	.gallery-view-image {
		img {
			max-width: 960px;
			//width: 100%;
			height: auto;
		}
	}
}
.gallery-view {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
}
.gallery-view-title {
	display: none;
}
.gallery-view-image {
	clear: both;
	text-align: center;
	background-color: #eee;
	position: relative;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
.gallery-view-image-display {
	a {
		display: block;
	}
	img {
		min-width: 400px;
	}
}

.gallery-view-controls {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

a.gallery-view-control {
	&.next {
		right: 0;
	}
	&.prev {
		left: 0;
	}
	&:hover {
		@include background-opacity(#fff, .25);
		span {
			opacity: 1;
		}
	}
	position: absolute;
	top: 0;
	bottom: 0;
	width: $gallery-view-control-size / 2;
	span {
		position: absolute;
		top: 50%;
		display: block;
		font-size: $gallery-view-control-size;
		font-weight: bold;
		width: $gallery-view-control-size / 2;
		height: $gallery-view-control-size;
		line-height: $gallery-view-control-size * .75;
		margin-top: -#{$gallery-view-control-size / 2};
		color: #ccc;
		opacity: .5;
	}
}
.gallery-view-html .gallery-view-infos {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 33%;
	overflow: auto;
	background-color: white;
	border-left: 1px solid black;
}
.gallery-view-infos > div {
	margin-left: 10px;
}

// Modal Window
#gallery-modal {
	.modal-body, 
	.gallery-view, 
	.gallery-view-image, 
	.gallery-view-image-display, 
	.gallery-view-image-display a, 
	.gallery-view-image-display img {
		height: 100%;
		min-height: 0;
		max-height: none;
	}
	
	border-radius: $gallery-view-border-radius;
	
	.modal-header {
		.modal-header-title {
			height: 30px;
			overflow: hidden;
		}
	}
	.modal-body {
		padding: 0;
		padding-bottom: $gallery-view-border-radius;
		overflow: hidden;
		height: auto;
	}
	
	.gallery-view-image-display {
		img {
			min-width: 0 !important;
		}
	}
	
	.gallery-view-caption.gallery-view-control {
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;
		padding: 10px;
		margin: 10px;
		@include background-opacity(#fff,.5);
	}
	
	.gallery-view-thumbnails {
		position: relative;
	}
	.gallery-view-thumbnails-control {
		position: absolute;
		line-height: $line-height-base;
		top: -#{$line-height-computed};
		left: $line-height-computed;
		@include border-top-radius($line-height-computed);
		background-color: white;
		padding: 0 #{$line-height-computed / 2};
	}
	/*
	.gallery-view-thumbnails {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.gallery-view-thumbnails > div {
		position: absolute;
		bottom: 0;
	}
	*/
	.gallery-view-image, .gallery-view-thumbnails {
		margin-right: $gallery-modal-info-width;
	}

	.gallery-view-infos {
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: 1;
		background-color: white;
		width: $gallery-modal-info-width;
		overflow: auto;
		> .gallery-view-info {
			padding: $padding-base-vertical $padding-base-horizontal;
		}
	}

	.gallery-view-infos-inner {
		overflow: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
	.gallery-view-infos-control {
		position: absolute;
		left: -#{$gallery-info-control-size};
		width: $gallery-info-control-size;
		top: 40px;
		font-size: $gallery-info-control-size;
		text-align: center;
		height: $gallery-info-control-size;
		line-height: $gallery-info-control-size * .75;
		background-color: white;
		text-decoration: none;
		
		border-top-left-radius: $gallery-info-control-size;
		border-bottom-left-radius: $gallery-info-control-size;
		
		&:hover {
			background-color: #ccc;
		}
	}
}
.gallery-view-thumbnails {
	> div {
		background-color: white;
		padding: 10px 0;
		text-align: center;
	}
	ul {
		display: inline-block;
	}
	li, li a, img, div, ul {
		margin: 0 !important;
		padding: 0 !important;
		border: 0;
	}
	li {
		position: relative;
		max-width: 160px;
	}
	@for $i from 1 through 12 {
		.thumbnails#{$i} {
			.thumbnail {
				margin: .5% !important;
				width: #{100/$i - 1}% !important;
				float: left;
			}
		}
	}
	li {
		a:hover {
			opacity: .5;
		}
	}
	.active {
		background-color: $link-hover-color;
		a {
			opacity: .5;
		}
	}
}