//@import "variables";

@import "bootstrap_import";

@import "variables"; 
@import "mixins";
@import "templates";

@import "address_book_form";
@import "clearfix";
@import "iconic";

@import "ajax-loading";
@import "calendar"; 
@import "collapse_list";
@import "content";
@import "contentbox";
@import "display-text";
@import "dropdown-submenu";
@import "form-layout";
@import "jquery";
@import "hover"; 
@import "liquid-layout";
@import "media";
@import "model-view";
@import "nav-overflow";
@import "scrollfix";
@import "sprites";
@import "table";
@import "thumbnails";


// Extend Bootstrap
// -----------------------
@import "bootstrap";
@import "bootstrap3.0/bootstrap";


// Page Styling
// -----------------
h1, h2, h3 {
	a {
		color: inherit;
		font-weight: inherit;
	}
}
h3, h4 {
	a {
		font-weight: bold;
	}
}

.btn-vertical {
	.btn {
		display: block;
		text-align: left;
	}
}

.dl-info {
	dd {
		margin-bottom: $line-height-computed;
	}
}
.dl-inline {
	@extend %overflow;
	margin: 0;
	dt, dd {
		float: left;
		padding: $padding-small-vertical $padding-small-horizontal;
		margin: 0;
	}
	dd {
		padding-left: 0;
	}
}

.list-blank {
	@extend %blanklist;
}

div.lead {
	li {
		line-height: 1.5 * $line-height-base;
		margin-bottom: $line-height-computed / 4;
	} 
}

.phpcode {
	code {
		display: block;
		padding: $padding-large-vertical $padding-large-horizontal;
	}
}

#breadcrumb {
	&, .breadcrumb {
		background-color: #f5f5f5;
	}
	.breadcrumb {
		margin-bottom: 0;
	}
}
#content-container {
	margin-top: $line-height-computed;
}

// Form
// ------------------------
:required {
	border-color: $required-border !important;
	background-color: $required-background !important;
	color: $required-text !important;
}

// Lists
// ------------------------
.heading-action-menu {
	.btn-group {
		float: right;
		margin-top: 0 !important;
	}
}
.nav-layout-header {
	border-top: 1px solid $navbar-default-border;
	@include gradient-vertical(#f8f8f8, #fff);
	padding: $padding-small-vertical $padding-small-horizontal;
}
.nav-pills {
	span.navbar-brand {
		padding: 8px 12px;
		margin-top: 2px;
		line-height: 14px;
		display: block;
	}
}

// Menu Lists
// ----------------
.layout-id-menu {
	display: block !important;
	.btn {
		font-size: $font-size-small;
		padding: $padding-small-vertical $padding-small-horizontal;
	}
}

// Padding Breakout
// --------------------
.breakout-large {
	padding: $padding-breakout-large;
}
.breakout-mid {
	padding: $padding-breakout-mid;
}
.breakout-small {
	padding: $padding-breakout-small;
}


.clearfix {
	@include clearfix;
}
.overflowfix {
	@extend %overflow;
}

// Toggle
// ----------------------
.layout-toggle {
	margin-bottom: $line-height-computed / 2;
	border: 1px solid $input-border;
	fieldset {
		background-color: transparent;
		border: 0;
		padding: $padding-large-vertical $padding-large-horizontal;
	}
}
.layout-toggle-control {
	float: none;
	clear: both;
	position: relative;
	label {
		position: relative;
		z-index: 2;
		font-size: $font-size-large;
		font-weight: normal;
		float: none;
		display: block;
		padding: $padding-large-vertical $padding-large-horizontal;
		padding-left: 30px;
		margin: 0;
	}
	.ell {
		position: absolute;
		display: block;
		z-index: 1;
		right: 6px;
		bottom: 3px;
		font-size: $font-size-large;
		color: $gray;
		line-height: 1;
	}
	&:hover {
		border-color: $link-hover-color;
		background-color: #f8f8f8;
		.ell {
			color: $link-hover-color;
		}
	}
}
.layout-toggle-content {
	border-top: 1px solid #f8f8f8;
	padding-top: .5em;
	background-color: white;
	padding: $padding-large-vertical $padding-large-horizontal;
	.row {
		margin: 0;
	}
}
.form-horizontal {
	.layout-toggle-control {
		padding-left: $component-offset-horizontal - 20px;
	}
	.layout-toggle-content {
		padding-left: 0;
	}
}


@media print {
	.no-print {
		display: none;
	}
	a:after {
		content: '' !important;
	}
}

.neighbors {
	font-size: $font-size-large;
}
.neighbors-up {
	text-align: center;
}
.neighbors-prev {
	text-align: left;
}
.neighbors-next {
	text-align: right;
}

