//@import "variables";

@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "variables"; 
@import "mixins";
@import "templates";

@import "address_book_form";
@import "clearfix";
@import "iconic";

@import "content";
@import "display-text";
@import "liquid-layout";
@import "model-view";
@import "table";
@import "form-layout";
@import "collapse_list";
@import "thumbnails";
@import "sprites";

@import "calendar"; 
@import "hover"; 

p.test-class {
	font-weight: bold;
}

// Page Styling
// -----------------
h1, h2, h3 {
	a {
		color: inherit;
		font-weight: inherit;
	}
}
h3, h4 {
	a {
		font-weight: bold;
	}
}

.btn-vertical {
	.btn {
		display: block;
		text-align: left;
	}
}

.dl-info {
	dd {
		margin-bottom: $baseLineHeight;
	}
}

.list-blank {
	@extend %blanklist;
}

div.lead {
	li {
		line-height: 1.5 * $baseLineHeight;
		margin-bottom: $baseLineHeight / 4;
	} 
}

#breadcrumb {
	&, .breadcrumb {
		background-color: #f5f5f5;
	}
	.breadcrumb {
		margin-bottom: 0;
	}
	margin-bottom: $baseLineHeight / 2;
}

// Lists
// ------------------------
.heading-action-menu {
	.btn-group {
		float: right;
		margin-top: 0 !important;
	}
}
.nav-layout-header {
	border-top: 1px solid $navbarBorder;
	@include gradient-vertical(#F8F8F8, $white);
	padding: $paddingSmall;
}
.nav-pills {
	span.brand {
		padding: 8px 12px;
		margin-top: 2px;
		line-height: 14px;
		display: block;
	}
}

// Media Box
// ---------------------
.media {
	margin: 10px;
	@include border-radius($baseBorderRadius);

	.media-body {
		display: block;
		text-align: left;
	}
	&, .bd {
		@extends %overflow;
		display: block;
	}
	.img {
		float:left; 
		margin-right: 10px;
		img {
			display: block;
		}
		&.small {
			img {
				width: 40px;
			}
		}
	}
	.imgExt, .rght {
		float:right; 
		margin-left: 10px;
	}
	h1, h2, h3, h4, h5 {
		margin: 0 0 0 0;
		padding: 0;
		line-height: normal;
	}
	p {
		margin-bottom: $baseLineHeight / 4;
	}
	&.border, .border .media {
		border: 1px solid #EEE;
		@include border-radius($baseBorderRadius);
		padding: 10px;
	}
	> .pull-right {
		text-align: right;
		max-width: 50%;
	}
}

$mediaLinkWidth: 		760px;
$mediaLinkPadding: 		10px;
$mediaLinkColor: 		#999;
$mediaLinkColorHover: 	#666;
$mediaLinkBorder:		#CCC;
$mediaLinkBorderHover:	#999;

a.media {
	color: $mediaLinkColor;
	padding: $mediaLinkPadding;
	border: 1px solid $mediaLinkBorder;
	max-width: $mediaLinkWidth;
	&:hover {
		color: $mediaLinkColorHover;
		border-color: $mediaLinkBorderHover;
		text-decoration: none;
	}
	h2, h3, h4 {
		margin: 0;
		padding: 0;
	}
	h2 {
		font-size: 1.25em;
		line-height: 1.25;
	}
	h3 {
		font-size: 1em;
	}
	p {
		font-weight: normal;
	}
}
li.media {
	border-bottom: 1px solid $grayLightest;
	padding-bottom: 10px;
}
.media-wrap, .media {
	display: block;
	position: relative;
	max-width: $mediaLinkWidth + 2 * $mediaLinkPadding;
	.media-actionmenu {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
	}
}
.media-object {
	border: 1px solid $grayLightest;
}
.media-description {
	font-size: $fontSizeSmall;
	line-height: $baseLineHeight * .75;
	color: $grayLight;
	padding: 10px;
}
.media {
	.nav {
		margin: 0;
	}
}

// Menu Lists
// ----------------
.layout-id-menu {
	display: block !important;
	.btn {
		font-size: $fontSizeSmall;
		padding: $paddingSmall;
	}
}
		


// Content Box
// ----------------
.contentbox {
	clear: both;
	border: $contentBoxBorder;
	background: $contentBoxBackground;
	margin-bottom: $baseLineHeight;
	@include border-radius($contentBoxBorderRadius);
	
	@if $contentBoxShadow != 0 {
		-moz-box-shadow: $contentBoxShadow;
		-webkit-box-shadow: $contentBoxShadow;
		box-shadow: $contentBoxShadow;
	}
	&.list {
		.contentbox-body {
			padding: 0;
			
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}
.contentbox-heading {
	margin-bottom: 0 !important;
	border-bottom: $contentBoxDividerBorder;
	.navbar-inner {
	}
}
h2.contentbox-heading, 
h3.contentbox-heading, 
h4.contentbox-heading, 
.contentbox-heading .navbar-inner {
	border: 0;
	margin: 0;
	@include border-radius(0);
	padding: $contentBoxHeadingPadding;
	background: $contentBoxHeadingBackground;
	font-family: $contentBoxHeadingFont;
	font-size: $contentBoxHeadingSize;
}
h2.contentbox-heading, 
h3.contentbox-heading, 
h4.contentbox-heading {
	line-height: $contentBoxHeadingLineHeight;
}
.contentbox-body {
	padding: $contentBoxBodyPadding;
}


.clearfix {
	@include clearfix;
}

// Toggle
// ----------------------
.layout-toggle {
	margin-bottom: $baseLineHeight / 2;
	border: 1px solid $inputBorder;
	fieldset {
		background-color: transparent;
		border: 0;
		padding: $paddingLarge;
	}
}
.layout-toggle-control {
	float: none;
	clear: both;
	position: relative;
	label {
		position: relative;
		z-index: 2;
		font-size: $fontSizeLarge;
		font-weight: normal;
		float: none;
		display: block;
		padding: $paddingLarge;
		padding-left: 30px;
		margin: 0;
	}
	.ell {
		position: absolute;
		display: block;
		z-index: 1;
		right: 6px;
		bottom: 3px;
		font-size: $fontSizeLarge;
		color: $gray;
		line-height: 1;
	}
	&:hover {
		border-color: $linkColorHover;
		background-color: #F8F8F8;
		.ell {
			color: $linkColorHover;
		}
	}
			
}
.layout-toggle-content {
	border-top: 1px solid #F8F8F8;
	padding-top: .5em;
	background-color: white;
	padding: $paddingLarge;
}


@media print {
	.no-print {
		display: none;
	}
	a:after {
		content: '' !important;
	}
}

.neighbors {
	font-size: $fontSizeLarge;
}
.neighbors-up {
	text-align: center;
}
.neighbors-prev {
	text-align: left;
}
.neighbors-next {
	text-align: right;
}

// Select Collapse
// ---------------------------------
$selectCollapseColorActive:				$dropdownLinkColorActive;
$selectCollapseColorHover:				$dropdownLinkColorHover;
$selectCollapseBackgroundActive:		$dropdownLinkBackgroundActive;
$selectCollapseBackgroundHover:			$dropdownLinkBackgroundHover;
$selectCollapseOptionColor:				$textColor;
$selectCollapseOptionColorHover:		$textColor;
$selectCollapseOptionBackgroundHover:	$infoBackground;
$selectCollapseOptionPaddingTop:		0;
$selectCollapseOptionPaddingLeft:		4px;
$selectCollapseLineHeight:				16px;
$selectCollapseOptionHeight:			$selectCollapseLineHeight + 2 * $selectCollapseOptionPaddingTop;
$selectCollapseBulletWidth:				$selectCollapseLineHeight;
$selectCollapseSize:					12px;

$zindexSelectCollapseMask:				$zindexModal + 10;
$zindexSelectCollapse:					$zindexSelectCollapseMask + 10;

.select-collapse-mask {
	z-index: $zindexSelectCollapseMask;
	&.expanded {
		z-index: $zindexSelectCollapseMask + 1;
	}
}
.select-collapse-window { 
	border: 1px solid $windowBorderColor;
	//@include box-shadow($shadow);
	z-index: $zindexSelectCollapse;
	box-shadow: $shadow;
	background-color: white;
	position: absolute;	
	overflow: auto;
	max-height: 400px;
	ul {
		@extend %blanklist;
	}
	
	a {
		font-size: $selectCollapseSize;
		font-weight: normal;
		display: block;
		line-height: $selectCollapseLineHeight;
		&:hover {
			background-color: $selectCollapseBackgroundHover;
			color: $selectCollapseColorHover;
			text-decoration: none !important;
		}
	}
	ul {
		ul {
			margin-left: $selectCollapseBulletWidth;
			display: none;
		}
		&.expanded {
			display: block;
		}
	}
}
.select-collapse-option {
	display: block;
	position: relative;
	padding-left: $selectCollapseBulletWidth;
	a {
		color: $selectCollapseOptionColor;
	}
	.hover, &:hover {
		background: $selectCollapseOptionBackgroundHover;
	}
	&.active {
		background: $selectCollapseBackgroundActive;
		a {
			color: $selectCollapseColorActive;
		}
	}
}
.select-collapse-link {
	padding: $selectCollapseOptionPaddingTop $selectCollapseOptionPaddingLeft;
}

.select-collapse-bullet {
	position: absolute;
	left: 0;
	top: 0;
	width: $selectCollapseBulletWidth;
	height: $selectCollapseOptionHeight;

	padding: 0;
	margin: 0;
	
	text-align: center;
	background-color: #CCC;
	font-weight: bold !important;
	&:hover {
		background-color: #666;
		color: white;
	}
}