
// Input List
// ---------------------
$input-list-remove-width: 				30px;
$input-list-item-padding-horizontal: 	15px;
$input-list-item-padding-vertical:		10px;
$input-list-item-bg:					#F8F8F8;
$input-list-item-separate-height:		5px;

@include input-container("input-list");
.input-list {
	&-title, &-control {
		padding: $padding-small-vertical $padding-small-horizontal;
	}
	&-inner {
		padding: $padding-large-vertical $padding-large-horizontal;
	}
	&-control {
		background-color: $input-container-control-bg-color;
	}
	&-item {
		position: relative;
		border: 0;

		background: $input-list-item-bg;
		padding-top: $input-list-item-padding-vertical;
		padding-bottom: $input-list-item-padding-vertical;
		margin-bottom: $input-list-item-separate-height;

		min-height: $input-list-remove-width + $input-list-item-padding-horizontal * 2;
		
		&:last {
			margin-bottom: 0;
		}
		&.remove {
			background-color: #eee;
			.input-list-item-inner {
				overflow: hidden;
				@include opacity(25);
				height: 4px;
				div, a, span {
					display: none;
				}
			}
		}
		.form-group {
			margin-bottom: 0;
		}
	
		&-title {
			margin: 0;
			opacity: .4;
		}
		&-inner {
			margin-right: 	$input-list-remove-width + 2 * $input-list-item-padding-horizontal;
			margin-left: 	$input-list-item-padding-horizontal;
			.row {
				//margin-left: -$input-list-item-padding-horizontal;
				//margin-right: -$input-list-item-padding-horizontal;
			}
		}
		&-remove {
			position: absolute;
			top: $input-list-item-padding-vertical;
			right: $input-list-item-padding-horizontal;
			
			text-align: center;
			input {
				position: absolute;
				opacity: 0;
				height: 1px;
				left: -999px;
			}
			label {
				color: #ccc;
				border: 1px solid #666;
				background-color: #f8f8f8;
				text-align: center;
				
				font-size: 20px;
				width: $input-list-remove-width;
				max-width: 100%;
				line-height: $input-list-remove-width;
				margin: 0;
				
				float: right;
				position: relative;
				
				&.active, &:hover {
					color: black;
					border-color: black;
					background-color: white;
				}
				&.active {
					font-weight: bold;
				}
			}
		}
	}
}
