
// Form Submit Mask
// When someone hits submit, cover the entire form with a mask
// -----------------------------------------------------------
form.submitted-overlay {
	position: relative;
}

.submitted-overlay-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5000;
	@include background-opacity(#000, .25);
	&-message {

		position: fixed;
		border-radius: $border-radius-base;
		@include box-shadow(0 3px 7px rgba(0,0,0,0.3));
		
		color: #666;
		text-shadow: 0 -1px 0 #666, 0 1px 0 #fff;

		left: 50%;
		top: 50%;
		width: 400px;
		transform: translate(-50%, -50%);
		
		background-color: #ccc;
		padding: 20px;

		&-icon {
			float: left;
		}

		&-content {
			overflow: hidden;
		}
	}
}
