@import '../../utilities/index';
$checkbox-width: 13px;
$checkbox-margin: 12px;

// Toggle
// ----------------------
.layout-toggle {
	margin-bottom: $line-height-computed / 2;
	border: 1px solid $input-border;
	clear: both;
	fieldset {
		background-color: transparent;
		border: 0;
		padding: $padding-large-vertical $padding-large-horizontal;
	}
}
.layout-toggle__control {
	float: none;
	clear: both;
	position: relative;
	margin: 0;

	.ell {
		position: absolute;
		display: block;
		z-index: 1;
		right: 6px;
		bottom: 3px;
		font-size: $font-size-large;
		color: $gray;
		line-height: 1;
	}
	&:hover {
		border-color: $link-hover-color;
		background-color: #f8f8f8;
		.ell {
			color: $link-hover-color;
		}
	}
}

input[type="checkbox"].layout-toggle__checkbox {
	padding: 0;
	margin-left: -1 * ($checkbox-width + $checkbox-margin);
}

label.layout-toggle__label {
	position: relative;
	z-index: 2;
	font-size: $font-size-large;
	font-weight: normal;
	float: none;
	display: block;
	padding: $padding-large-vertical $padding-large-horizontal;
	padding-left: $checkbox-width + 2 * $checkbox-margin;
	//margin: 0;
}
.layout-toggle__content {
	border-top: 1px solid #f8f8f8;
	padding-top: .5em;
	background-color: white;
	padding: $padding-large-vertical $padding-large-horizontal;
	.row {
		margin: 0;
	}
}

.form-horizontal {
	.layout-toggle__control {
		// padding-left: $component-offset-horizontal - 20px;
	}
	.layout-toggle__label {
		text-align: left;
	}
	.layout-toggle__content {
		padding-left: 0;
		padding-right: 0;
		.form-group {
			margin-left: 0;
			margin-right: 0;
		}
	}
}
