// Basic Style
// ----------------------
.help-block, .help-inline {
	font-style: italic;
	color: lighten($text-color, 25%);
}

// Templates
// -------------
%number-input {
	width: $input-slim-width !important;
	text-align: right;
}

%input-container {
	overflow: hidden;
	border: 1px solid #F8F8F8;
	border-radius: $border-radius-base;
	margin-bottom: $line-height-computed / 2;
}

@mixin input-container($class) {
	.#{$class} {
		@extend %input-container;
	}
	.panel > .#{$class} {
		border-radius: 0;
		margin-bottom: 0;
		border-left: 0;
		border-right: 0;
	}
}

.input-list, .input-choices, .input-autocomplete-multi {
	.input-list, .input-choices, .input-autocomplete-multi {
		border-color: #efefef;//lighten($input-border, /25);
	}
}

.form-large {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
		@include input-font-size($font-size-large);
		height: 40px;
	}
}
.input-lg {
	@include input-font-size($font-size-large);
}


.form-inactive {
	background: $inactive-background;
	color: $inactive-color;
	padding: $padding-large-vertical $padding-large-horizontal;
	margin: -#{$padding-large-vertical} -#{$padding-large-horizontal};
	border-radius: $border-radius-base;
}

// Custom Inputs
// ---------------
$special-inputs: '.input-group-id, .input-group-cash, .input-group-number, input[type="number"]';
#{$special-inputs} {
	max-width: 240px;
}
.form-group-id, .form-group-cash, .form-group-number {
	> div {
		max-width: 240px;
	}
}

#{$special-inputs} {
	text-align: right;
}
.input-group {
	//Resets width if it's part of an input-group
	#{$special-inputs} {
		//width: 100% !important;
		max-width: none;
	}
}


.input-year {
	width: $input-slim-width !important;
}
.input-copy {
	&:hover {
		cursor: pointer;
	}
	background-color: white;
}
.input-autocomplete {
	@extend %overflow;
	.layout-dropdown-holder {
		float: none;
	}
	&.contain-button {
		.layout-dropdown-holder {
			float: left;
		}
		input {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.controls > .btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

// Form Submit Mask
// When someone hits submit, cover the entire form with a mask
// -----------------------------------------------------------
form.submitted-overlay {
	position: relative;
}
.submitted-overlay-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5000;
	@include background-opacity(#000, .25);
} 

.submitted-overlay-mask-content {
	position: fixed;
	border-radius: $border-radius-base;
	@include box-shadow(0 3px 7px rgba(0,0,0,0.3));
	
	color: #666;
	text-shadow: 0 -1px 0 #666, 0 1px 0 #fff;

	left: 50%;
	top: 50%;
	width: 400px;
	margin-left: -200px;
	
	background-color: #ccc;
	padding: 20px;
	
	@include wheel(32px);
	
	
}

// Date / Time Inputs
// ---------------------
$input-date-width: 				165px;
$input-time-width: 				70px;
$datepair-inner-label-height: 	$line-height-computed + 5;

input.date, input.time {
	font-size: $font-size-small;
}

.datepicker {
	width: $input-date-width;
	
}
.ui-datepicker {
	z-index: $zindex-modal + 50 !important;
}
.timepicker {
	width: $input-time-width;
}

.datepair {
	> label, > .control-label {
		padding-top: $datepair-inner-label-height !important;
	}
	@include clearfix;
	.input-datepair-control {
		// Date Pair
		& > .input-date, 
		& > .input-time,
		// Datetime Pair
		& > .input-datetime {
			float: left;
			label {
				color: #ccc;
				float: none;
				display: block;
				line-height: $datepair-inner-label-height;
				// width: 30px;
				text-align: left;
				&.control-label {
					padding-top: 0 !important;
					margin: 0;
				}
			}

			&.form-group {
				margin-left: 0;
				margin-right: 0;
			}
			&:first-of-type {
				margin-right: 10px;
			}
		}
	}

	.form-group {
		margin-bottom: 0;
	}
}

.datepair-between, .datepair .control-date-all-day {
	float: left;
	padding: $datepair-inner-label-height 10px 0 10px;
	line-height: $line-height-computed + 2 * $input-padding-top + 2;
}

.control-date-all-day {
	padding-top: $line-height-computed;
	> label, > .checkbox, > .radio {
		padding: 0;
		margin: 0;
		input[type="checkbox"] {
			display: block;
			margin: 0;
			margin-top: 0;
			float: none;
			clear: both;
		}
	}
}

.input-datetime-row {
	max-width: 500px;
}

.input-date > .input-group, .input-datetime-date {
	max-width: $input-date-width;
}
.input-time , .input-datetime-time  {
	max-width: $input-time-width;
}

.input-date-control .btn {
	padding-left: $padding-xs-horizontal;
	padding-right: $padding-xs-horizontal;
}
/*
.input-date-control {
	display: inline-block;
	vertical-align: top;
	.btn {
		padding: $input-padding-top 4px;
	}
	.iconic {
		font-size: $font-size-base;
	}
}
*/
.input-datetime {
	.input-datetime-control {
		display: inline-block;
		overflow: hidden;
		width: 100%;
	}
	
	.input-date, .input-time {
		float: left;
		> div {
			display: table;
			width: auto;
		}
	}
}
.datepair {
	.input-datetime {
		float: left;
	}
}

.form-horizontal {
	.datepair {
		/*
		.input-datetime {
			label {
				width: 40px;
				text-align: right;
				margin: 0;
				line-height: $line-height-base;
				padding: #{$input-padding-top + 1} $input-padding-left;
				float: left;
			}
		}
		*/
		.input-date, .input-time {
			margin-left: 0;
			margin-right: 0;
			
			> div {
				margin-left: 0;
				float: left;
			}
		}
	}
	.datepair-between {
		display: none;
	} 
	.control-date-all-day {
		// padding-top: 0;
		// padding-bottom: 0;
		div {
			margin: 0;
		}
		label {
			text-align: left;
		}
	}
	.input-datetime {
		.controls {
			display: block;
		}
	}
	.input-datetime-control {
		width: auto;
	}
}
.input-datetime-control > .form-group {
	float: left;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

// Input Choices
// ----------------------
$input-choice-active-color: 		$btn-primary-bg !default;
$input-choice-active-text-color: 	white !default;
$input-container-control-bg-color:	#eee;

@include input-container("input-choices");

.input-choice-active {
	.input-choice-control {
		background-color: $input-choice-active-color;
		&, label {
			color: $input-choice-active-text-color;
		}
	}
}
.input-choice-hover {
	.input-choice-control {
		text-decoration: underline;
	}
}
.input-choice-control {
	padding: $padding-small-vertical $padding-small-horizontal;
	background-color: $input-container-control-bg-color;
	label {
		font-size: $font-size-large;
		margin: 0;
		> input {
			margin-right: 10px;
		}
	}
}
.input-choice-content {
	padding: $padding-large-vertical $padding-large-horizontal;
	@extend %overflow;
}

.input-choice-input {
	label {
		font-size: $font-size-large;
		font-weight: normal;
		float: none;
		display: block;
		padding: $padding-large-vertical $padding-large-horizontal;
		padding-left: 30px;
		margin: 0;
	}
}


// Input List
// ---------------------
$input-list-remove-width: 				30px;
$input-list-item-padding-horizontal: 	15px;
$input-list-item-padding-vertical:		10px;
$input-list-item-bg:					#F8F8F8;
$input-list-item-separate-height:		5px;

@include input-container("input-list");

.input-list-title, .input-list-control {
	padding: $padding-small-vertical $padding-small-horizontal;
}
.input-list-inner {
	padding: $padding-large-vertical $padding-large-horizontal;
}
.input-list-control {
	background-color: $input-container-control-bg-color;
}
.input-list-item {
	position: relative;
	border: 0;

	background: $input-list-item-bg;
	padding-top: $input-list-item-padding-vertical;
	padding-bottom: $input-list-item-padding-vertical;
	margin-bottom: $input-list-item-separate-height;

	min-height: $input-list-remove-width + $input-list-item-padding-horizontal * 2;
	
	&:last {
		margin-bottom: 0;
	}
	&.remove {
		background-color: #eee;
		.input-list-item-inner {
			overflow: hidden;
			@include opacity(25);
			height: 4px;
			div, a, span {
				display: none;
			}
		}
	}
	.form-group {
		margin-bottom: 0;
	}
}
.input-list-item-inner {
	margin-right: 	$input-list-remove-width + 2 * $input-list-item-padding-horizontal;
	margin-left: 	$input-list-item-padding-horizontal;
	.row {
		//margin-left: -$input-list-item-padding-horizontal;
		//margin-right: -$input-list-item-padding-horizontal;
	}
}
.input-list-item-remove {
	position: absolute;
	top: $input-list-item-padding-vertical;
	right: $input-list-item-padding-horizontal;
	
	text-align: center;
	input {
		position: absolute;
		opacity: 0;
		height: 1px;
		left: -999px;
	}
	label {
		color: #ccc;
		border: 1px solid #666;
		background-color: #f8f8f8;
		text-align: center;
		
		font-size: 20px;
		width: $input-list-remove-width;
		max-width: 100%;
		line-height: $input-list-remove-width;
		margin: 0;
		
		float: right;
		position: relative;
		
		&.active, &:hover {
			color: black;
			border-color: black;
			background-color: white;
		}
		&.active {
			font-weight: bold;
		}
	}
}

.catalog-item-image-input {
	.media-object {
		width: 80px;
	}
}

textarea, input {
	&.code {
		font-family: Courier, sans-serif;
		font-size: 11px;
		color: #666 !important;
	}
}
textarea.code {
	line-height: $line-height-computed;
}


// Dropdowns and Autocompletes
// ---------------------------------
.layout-dropdown-holder {
	position: relative;
	@include clearfix;
	float: left;
}
.layout-dropdown {
	text-align: left;
	&, ul {
		@extend %blanklist;
	}
	position: absolute;
	z-index: 4000;
	padding: 0 !important;
	display: block;
	a {
		display: block;
		padding: $padding-base-vertical $padding-base-horizontal;
		font-size: $font-size-small;
		line-height: $line-height-computed * .75;
		text-decoration: none !important;

		&:hover {
			background-color: $link-hover-color;
			color: white !important;
		}
	}
	.media {
		margin: 0;
		border-left: 0;
		border-right: 0;
		img.media-object {
			width: 40px;
		}
	}
}

.input-autocomplete-multi {
	@extend %input-container;
	.input-autocomplete {
		border-bottom: 1px solid #eee;
	}
	.input-autocomplete, .input-autocomplete-multi-values {
		padding: $padding-small-vertical $padding-small-horizontal;
	}
}
.input-autocomplete-multi-values {
	margin-top: -$line-height-computed;
	label {
		font-weight: normal;
		font-size: $font-size-small;
	}
}


// Select Collapse
// ---------------------------------
.select-collapse-mask {
	z-index: $zindex-select-collapse-mask;
	&.expanded {
		z-index: $zindex-select-collapse-mask + 1;
	}
}
.select-collapse-search {
	width: 100%;
	margin: 0;
}
.select-collapse-window { 
	border: 1px solid $window-border-color;
	//@include box-shadow($shadow);
	z-index: $zindex-select-collapse;
	box-shadow: $shadow;
	background-color: white;
	position: absolute;	
	overflow: auto;
	max-height: 400px;
	ul {
		@extend %blanklist;
	}
	
	a {
		font-size: $select-collapse-size;
		font-weight: normal;
		display: block;
		line-height: $select-collapse-line-height;
		&:hover {
			background-color: $select-collapse-background-hover;
			color: $select-collapse-color-hover;
			text-decoration: none !important;
		}
	}
	ul {
		ul {
			margin-left: $select-collapse-bullet-width;
			display: none;
		}
		&.expanded {
			display: block;
		}
	}
}
.select-collapse-option {
	display: block;
	position: relative;
	padding-left: $select-collapse-bullet-width;
	a {
		color: $select-collapse-option-color;
	}
	.hover, &:hover {
		background: $select-collapse-option-background-hover;
	}
	&.active {
		background: $select-collapse-background-active;
		a {
			color: $select-collapse-color-active;
		}
	}
}
.select-collapse-link {
	padding: $select-collapse-option-padding-top $select-collapse-option-padding-left;
}

.select-collapse-bullet {
	position: absolute;
	left: 0;
	top: 0;
	width: $select-collapse-bullet-width;
	height: $select-collapse-option-height;

	padding: 0;
	margin: 0;
	
	text-align: center;
	background-color: #ccc;
	font-weight: bold !important;
	&:hover {
		background-color: #666;
		color: white;
	}
}

.input-centerfocus.focused {
	position: fixed;
	z-index: 1000;
}
.input-centerfocus-bg.focused {
	background-color: #000;
	opacity: .5; 
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}
.input-centerfocus-placeholder.focused {
	background-color: #ccc;
}
.input-centerfocus-label.focused {
	position: fixed;
	z-index: 1001;
	background-color: white;
	border: 1px solid #eee;
	padding: $padding-small-vertical $padding-small-horizontal;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}