// Basic Style
// ----------------------
.help-block, .help-inline {
	font-style: italic;
	color: lighten($text-color, 25%);
}

// Templates
// -------------




@import "form-layout/index";


.input-list, .input-choices, .input-autocomplete-multi {
	.input-list, .input-choices, .input-autocomplete-multi {
		border-color: #efefef;//lighten($input-border, /25);
	}
}

.form-large {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input {
		@include input-font-size($font-size-large);
		height: 40px;
	}
}
.input-lg {
	@include input-font-size($font-size-large);
}


.form-inactive {
	background: $inactive-background;
	color: $inactive-color;
	padding: $padding-large-vertical $padding-large-horizontal;
	margin: -#{$padding-large-vertical} -#{$padding-large-horizontal};
	border-radius: $border-radius-base;
}

// Custom Inputs
// ---------------
$special-inputs: '.input-group-id, .input-group-cash, .input-group-number, input[type="number"]';
#{$special-inputs} {
	max-width: 240px;
}
.form-group-id, .form-group-cash, .form-group-number {
	> div {
		max-width: 240px;
	}
}

#{$special-inputs} {
	text-align: right;
}
.input-group {
	//Resets width if it's part of an input-group
	#{$special-inputs} {
		//width: 100% !important;
		max-width: none;
	}
}


.input-year {
	width: $input-slim-width !important;
}
.input-copy {
	&:hover {
		cursor: pointer;
	}
	background-color: white;
}
.input-autocomplete {
	@extend %overflow;
	.layout-dropdown-holder {
		float: none;
	}
	&.contain-button {
		.layout-dropdown-holder {
			float: left;
		}
		input {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.controls > .btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	> .form-group {
		margin-bottom: 0;
	}
}


.catalog-item-image-input {
	.media-object {
		width: 80px;
	}
}

textarea, input {
	&.code {
		font-family: Courier, sans-serif;
		font-size: 11px;
		color: #666 !important;
	}
}
textarea.code {
	line-height: $line-height-computed;
}


// Dropdowns and Autocompletes
// ---------------------------------
.layout-dropdown-holder {
	position: relative;
	@include clearfix;
	float: left;
}
.layout-dropdown {
	text-align: left;
	&, ul {
		@extend %blanklist;
	}
	position: absolute;
	z-index: 4000;
	padding: 0 !important;
	display: block;
	a {
		display: block;
		padding: $padding-base-vertical $padding-base-horizontal;
		font-size: $font-size-small;
		line-height: $line-height-computed * .75;
		text-decoration: none !important;

		&:hover {
			background-color: $link-hover-color;
			color: white !important;
		}
	}
	.media {
		margin: 0;
		border-left: 0;
		border-right: 0;
		img.media-object {
			width: 40px;
		}
	}
}

.input-autocomplete-multi {
	@extend %input-container;
	.input-autocomplete {
		border-bottom: 1px solid #eee;
	}
	.input-autocomplete, .input-autocomplete-multi-values {
		padding: $padding-small-vertical $padding-small-horizontal;
	}
}
.input-autocomplete-multi-values {
	margin-top: -$line-height-computed;
	label {
		font-weight: normal;
		font-size: $font-size-small;
	}
}


