// Page Styling
// -----------------
h1, h2, h3 {
	a {
		color: inherit;
		font-weight: inherit;
	}
}
h3, h4 {
	a {
		font-weight: normal;
	}
}

.note {
	font-size: $font-size-small;
	padding: $padding-base-vertical $padding-base-horizontal;
}

.btn-vertical {
	.btn {
		display: block;
		text-align: left;
	}
}

.dl-info {
	dd {
		margin-bottom: $line-height-computed;
	}
}
.dl-inline {
	@extend %overflow;
	margin: 0;
	dt, dd {
		float: left;
		padding: $padding-small-vertical $padding-small-horizontal;
		margin: 0;
	}
	dd {
		padding-left: 0;
	}
}

.list-blank {
	@extend %blanklist;
}

div.lead {
	li {
		line-height: $line-height-base;
		margin-bottom: $line-height-computed / 2;
	} 
}

.phpcode {
	code {
		display: block;
		padding: $padding-large-vertical $padding-large-horizontal;
	}
}

#breadcrumb {
	&, .breadcrumb {
		background-color: #f5f5f5;
	}
	.breadcrumb {
		margin-bottom: 0;
	}
}
#content-container {
	margin-top: $line-height-computed;
}

// Page Header
// -----------
.page-header-title {
	margin-bottom: $line-height-computed / 4;
}

// Lists
// ------------------------
.heading-action-menu {
	.btn-group {
		float: right;
		margin-top: 0 !important;
	}
}

// Menu Lists
// ----------------
.layout-id-menu {
	display: block !important;
	.btn {
		font-size: $font-size-small;
		padding: $padding-small-vertical $padding-small-horizontal;
	}
}

// Padding Breakout
// --------------------
.breakout-large {
	padding: $padding-breakout-large;
}
.breakout-mid {
	padding: $padding-breakout-mid;
}
.breakout-small {
	padding: $padding-breakout-small;
}


.clearfix {
	@include clearfix;
}
.overflowfix {
	@extend %overflow;
}



@media print {
	.no-print {
		display: none;
	}
	a:after {
		content: '' !important;
	}
}

.neighbors {
	font-size: $font-size-large;
}
.neighbors-up {
	text-align: center;
}
.neighbors-prev {
	text-align: left;
}
.neighbors-next {
	text-align: right;
}

