/*Layout Colors*/
input.date, input.time {
  font-size: 12px; }

.datepicker {
  width: 165px; }

.ui-datepicker {
  z-index: 1100 !important; }

.timepicker {
  width: 70px; }

.datepair {
  zoom: 1; }
  .datepair > label, .datepair > .control-label {
    padding-top: 25px !important; }
  .datepair:before, .datepair:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .datepair:after {
    clear: both; }
  .datepair .input-datepair-control > .input-date, .datepair .input-datepair-control > .input-time, .datepair .input-datepair-control > .input-datetime {
    float: left; }
    .datepair .input-datepair-control > .input-date label, .datepair .input-datepair-control > .input-time label, .datepair .input-datepair-control > .input-datetime label {
      color: #ccc;
      float: none;
      display: block;
      line-height: 25px;
      text-align: left; }
      .datepair .input-datepair-control > .input-date label.control-label, .datepair .input-datepair-control > .input-time label.control-label, .datepair .input-datepair-control > .input-datetime label.control-label {
        padding-top: 0 !important;
        margin: 0; }
    .datepair .input-datepair-control > .input-date.form-group, .datepair .input-datepair-control > .input-time.form-group, .datepair .input-datepair-control > .input-datetime.form-group {
      margin-left: 0;
      margin-right: 0; }
    .datepair .input-datepair-control > .input-date:first-of-type, .datepair .input-datepair-control > .input-time:first-of-type, .datepair .input-datepair-control > .input-datetime:first-of-type {
      margin-right: 10px; }
  .datepair .form-group {
    margin-bottom: 0; }

.datepair-between, .datepair .control-date-all-day {
  float: left;
  padding: 25px 10px 0 10px;
  line-height: 30px; }

.control-date-all-day {
  padding-top: 20px; }
  .control-date-all-day > label, .control-date-all-day > .checkbox, .control-date-all-day > .radio {
    padding: 0;
    margin: 0; }
    .control-date-all-day > label input[type="checkbox"], .control-date-all-day > .checkbox input[type="checkbox"], .control-date-all-day > .radio input[type="checkbox"] {
      display: block;
      margin: 0;
      margin-top: 0;
      float: none;
      clear: both; }

.input-datetime-row {
  max-width: 500px; }

.input-date > .input-group, .input-datetime-date {
  max-width: 165px; }

.input-time, .input-datetime-time {
  max-width: 70px; }

.input-date-control .btn {
  padding-left: 5px;
  padding-right: 5px; }

/*
.input-date-control {
	display: inline-block;
	vertical-align: top;
	.btn {
		padding: $input-padding-top 4px;
	}
	.iconic {
		font-size: $font-size-base;
	}
}
*/
.input-datetime .input-datetime-control {
  display: inline-block;
  overflow: hidden;
  width: 100%; }
.input-datetime .input-date, .input-datetime .input-time {
  float: left; }
  .input-datetime .input-date > div, .input-datetime .input-time > div {
    display: table;
    width: auto; }

.datepair .input-datetime {
  float: left; }

.form-horizontal .datepair {
  /*
  .input-datetime {
  	label {
  		width: 40px;
  		text-align: right;
  		margin: 0;
  		line-height: $line-height-base;
  		padding: 5px $input-padding-left;
  		float: left;
  	}
  }
  */ }
  .form-horizontal .datepair .input-date, .form-horizontal .datepair .input-time {
    margin-left: 0;
    margin-right: 0; }
    .form-horizontal .datepair .input-date > div, .form-horizontal .datepair .input-time > div {
      margin-left: 0;
      float: left; }
.form-horizontal .datepair-between {
  display: none; }
.form-horizontal .control-date-all-day div {
  margin: 0; }
.form-horizontal .control-date-all-day label {
  text-align: left; }
.form-horizontal .input-datetime .controls {
  display: block; }
.form-horizontal .input-datetime-control {
  width: auto; }

.input-datetime-control > .form-group {
  float: left;
  margin-left: 0 !important;
  margin-right: 0 !important; }

/*# sourceMappingURL=input_date.css.map */
