.ajax-loading {
	opacity: .5;
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0; 
	left: 0;
	right: 0;
	text-align: center;
	height: 100%;

	@include wheel(32);
	
	span {
		color: white;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		font-size: 40px;
		margin-top: -20px;
	}
}
