$toggle-size: 20px;
$toggle-padding: 10px;

$collapse-item-padding-top: 5px;
$collapse-item-padding-left: 10px;

$ns: 'collapse-list';
.#{$ns} {
	ul.#{$ns}-list {
		@extend %blanklist;
		&, li.#{$ns}-item {
			display: block;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
	}
}
li.#{$ns}-item {
	position: relative;
	padding: 0 !important;
	padding-left: $toggle-size + 2 * $toggle-padding !important;
	
	border-top: 1px solid #eee;
	
	&.dragging {
		border: 1px solid red;
		background-color: white;
		border-radius: $border-radius-base;
		cursor: move !important;
		z-index: 3000;
		@include opacity(75);
	}
	&.drop-over {
		border-top: 4px solid blue;
	}
	.divider {
		border-color: #eee;
	}
	label {
		font-size: 1em;
		line-height: normal;
		font-weight: normal;
	}
	.layout-info-table {
		table {
			&, th {
				width: auto;
			}					
		}
	}
}
.#{$ns}-item-title {
	min-height: $toggle-size + 2 * $toggle-padding;
	margin: 0;
	margin-bottom: 0 !important;
	padding: $collapse-item-padding-top $collapse-item-padding-left;
	> .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 5px;
	}

	&.selected {
		background: #eee !important;
	}
	&.navbar {
		.navbar-nav {
			border: 0;
			background: transparent !important;
			padding: 0;
		}
		.navbar-brand {
			padding: 0;
			margin: 0;
		}
	}
}
.#{$ns}-item-title-label {
	margin-bottom: 0;
	display: block;
	float: none;
	&.hover .#{$ns}-item-title {
		background: #f8f8f8;
	}
}

.#{$ns}-item-toggle {
	margin: 0;
	
	position: absolute;
	top: $collapse-item-padding-top;
	left: $toggle-padding;

	font-family: Arial;
	display: block;
	border: 1px solid;
	border-radius: $toggle-size;

	&, span {
		font-size: $toggle-size;
		width: $toggle-size;;
		line-height: $toggle-size;;
		display: block;
		text-align: center;
	}
	&.hover {
		cursor: pointer;
		color: $link-hover-color;
	}
	input {
		width: auto;
		position: absolute;
		left: -9999px;
	}
}